.container {
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
	width: 90%;
	height: 400px;
	margin: auto;
	margin-top: 25%;
}

.card {
	margin: auto;
	width: 30%;
	height: 20%;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 3px 3px 3px #999999;
}

.flip {
	background-color: rgba(0, 0, 0, 0.2);
	background-image: url("../img/rocket.png");
	background-size: cover;
	background-repeat: no-repeat;
}